<body class="bodystyle">
    <!-- <p id="notice"><%= notice %></p> -->
<div class="menu">
<%= link_to edit_user_registration_path,{:class => "link_menu"} do%>
  <i class="fa fa-user-circle" aria-hidden="true">Edit Profile</i>
<%end%>
<%= link_to destroy_user_session_path,:class => "link_menu", method: :delete do%>
<i class="fa fa-user-times" aria-hidden="true">Log Out</i>
<%end%>
  <br><br>
</div>
<div class="profile">
  <div class="ptitle">
  プロフィール
</div>
<div>
  <span class="pname">
    <%= current_user['name']%>
  </span>
  <span class="pid">
      id = <%= current_user['id']%>
  </span>
</div>
  <% if @user.image? %>
    <%= image_tag @user.image.url, :class => "p_icon"%>
  <% end %>
  <br>
  つぶやいた数: <%= @tweet_count.count %>
</div>
<div class="tweet">
  <%= render 'form' %>
</div>
  <div class="timeline">
    <% @messages.reverse_each do |message| %>
      <% @tmp = User.find(message.userid) %>
      <div class="each_message">
        <div class="each_image">
          <% if @tmp.image? %>
            <%= image_tag @tmp.image.url, :class => "p_icon_tweet"%>
          <% end %>
        </div>
        <div class="each_content">
          <span class="name">
            <%= message.name %>
          </span>
          <span class="id">
            <%if(message.userid) %>
              id:<%= message.userid %>
              <% end %>
          </span>
          <span class="date">
            <%= message.created_at.strftime("%m/%d %H:%M") %>
          </span>
          <div class="message_content">
            <%= simple_format(message.content) %>
          </div>
          <br>
          <%if(message.content == "")%>
          <br>
          <%end %>
          <% if message.userid == @user.id %>
          <%= link_to message, method: :delete, :class => "link_tweet",data: { confirm: '削除してよろしいですか？' } do%>
          <i class="fa fa-times" aria-hidden="true">delete</i>
          <%end%>
          <%end%>
        </div>
      </div>
    <% end %>
<br>

</div>
</body>
