<body class="bodystyle">
    <p id="notice"><%= notice %></p>
<div class="menu">
  This is a menu.
  <br><br><br><br>
</div>
<div class="profile">
  my profile
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
</div>
<div class="tweet">
  <br><br><br><br>
  <br><br><br><br>
</div>
  <div class="timeline">

<table class="tltable">
  <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @messages.reverse_each do |message| %>
      <!-- <tr>
        <td><%= message.name %></td>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
      <div class="box11">
        <span class="name">
          <%= message.name %>
        </span>
        <span class="id">
          <%if(message.userid) %>
            id:<%= message.userid %>
            <% end %>
        </span>
        <span class="date">
          <%= message.created_at.strftime("%m/%d %H:%M") %>
        </span>
        <br><br>
        <%= message.content %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
</div>
</body>
