<body class="userbody">
  <%= link_to :back, :class => "link_edit" do%>
  <i class="fa fa-arrow-left" aria-hidden="true"> Back</i>
  <% end %>
<div class="menu_edit">
  <div class="etitle">Edit Profile</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label '名前' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <%= f.label 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label 'プロフィール文' %><br />
    <%= f.text_area :comment, :size=>"40x3", autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label 'パスワード(変更しない場合は空欄) 6文字以上'%> <br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label 'パスワードをもう一度入力' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label '現在のパスワードを入力' %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= button_tag :type => "submit", :class =>"link_write_edit" do %>
      <i class="fa fa-refresh" aria-hidden="true"> Renew</i>
     <% end %>
  </div>

<% end %>

<div class="field">アカウント削除</div>

<div class="button"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>
</div>
</body>
