<body class="loginbody">
<div class="logintitle">新規登録</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="content">
  <div class="field">
    <%= f.label 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label 'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上にしてください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'パスワードをもう一度入力してください' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <!-- 追加箇所 開始 -->
   <div class="field">
     <% if @user.image? %>
       <div class="thumbnail">
         <%= image_tag @user.image.url %>
       </div>
       <%= @user.image%>
     <% end %><br>
     <%= f.label :image %><br>
     <%= f.file_field :image %>
     <%= f.hidden_field :image_cache %>
   </div>
   <div class="field">
     <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
     <% if @user.persisted? && @user.image? %>
       <label>
         <%= f.check_box :remove_image %>
         画像を削除
       </label>
     <% end %>
   </div>
   <!-- 追加箇所 終了 -->
</div>
  <div class="actions">
    <%= f.submit "アカウント作成" %>
  </div>
<% end %>
<div class="footer">
<%= render "devise/shared/links" %>
</div>
</body>
